<!DOCTYPE html>
<?php
session_start();
?>
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="/View/cssPrincipal/cssPrincipal.css"> 
        <title>TRABAJOS</title>
        <style>
            body{
                background-color: white; 
                margin:0;
                padding:0;
                width:100%;
            }
        </style>

    </head>
    <body>
        <div class="cabecera">
            <div class="fotoCabecera">
                <img src="../View/imagenes/rev.jpg" alt="" width="1800" height="400" /> 
            </div>
            <div class="barraNavegacionGeneral">
                <div id="headerGeneral">
                    <ul class="navGeneral" style="list-style-type:none;">
                        <li style="float:left" ><a href="../Controller/indexArray.php">INICIO</a></li>
                        <li style="float:left" ><a href="trabajos.php">TRABAJOS</a>
                            <ul>
                                <li><a href="../Controller/arrayPerfil.php">ILLUSTRATOR</a></li>
                                <li><a href="../Controller/indexArrayMisComent.php">INDESIGN</a></li>
                                <li><a href="cerrarSesion.php?cerrarsesion=">PHOTSHOP</a></li>
                            </ul>
                        </li>
                        <li style="float:left"><a href="">CURRICULUM</a></li>
                        <li style="float:left"><a href="">CONTACTO</a>
                            <ul>
                                <li><a href="">¿QUIEN SOY?</a></li>
                                <li><a href="">CORREO</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clr"></div>
        </div>
        <div class="FBG">
            <div class="FBG_resize">
                <div class="blok">
                    <h2><span>GALERIA</span> TRABAJOS</h2>
                    <img src="../View/imagenes/rev.jpg" alt="" width="68" height="68" /><img src="../View/images/gallery_2.gif" alt="" width="68" height="68" /><img src="images/gallery_3.gif" alt="" width="68" height="68" /><img src="../View/images/gallery_4.gif" alt="" width="68" height="68" /><img src="../View/images/gallery_5.gif" alt="" width="68" height="68" /><img src="../View/images/gallery_6.gif" alt="" width="68" height="68" />
                    <div class="clr"></div>
                    <h2>Modo de contacto </h2>
                    <p><strong>telefono</strong>: 678256511<br />
                        <strong>E-mail:</strong> guevaradesign@gmail.com<br />
                        <a href="#">CONTACTO</a></p>
                </div>
                <div class="blok">
                    <h2><span>ILLUSTRATOR</span></h2>
                    <p>Lorem ipsum dolor Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. <br />
                        Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p><a href="#">Ver trabajos...</a></p>
                    <ul>
                        <li><a href="#">• consequat molestie</a></li>
                        <li><a href="#">• sem justo</a></li>
                        <li><a href="#">• semper</a></li>
                        <li><a href="#">• magna sed purus</a></li>
                    </ul>
                </div>
                <div class="blok">
                    <h2>INDESIGN</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Ver trabajos...</a></p>
                    <p><br />
                    </p>
                </div>
                <div class="blok">
                    <h2>PHOTOSHOP</h2>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Ver trabajos...</a></p>
                    <p><br />
                    </p>
                </div>
                <div class="clr"></div>
            </div>
        </div>

    <body>
</html>

